<br>
<div class="container">
  <p>
    <strong><%= @flat.name %></strong>
    <%= @flat.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @flat.address %>
  </p>

  <p>
    <strong>More info:</strong>
    Price per night: £<%= @flat.price_per_night %>
    Maximum guests: <%= @flat.number_of_guests %>
  </p>
</div>
