<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="http://localhost:3000/flats">Simple AirBnB</a>
        <form class="form-inline">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <a href="http://localhost:3000/flats/new">Add flat</a>
          </button>
        </form>
    </nav>
    <%= yield %>
  </body>
</html>
